<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>


 <div class="container" align="center" style="margin-top:200px">
 
 

 <a href="/login" method ='get'><button type="button" class="btn btn-primary btn-lg" >Lets Get Started</button></a>
 
 </div>
   
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css"href="/stylesheets/login.css>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>