<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
 <% include header %>


</head>

<body>
<div class = "login">
  <form action='/logout' name = "myform" method = "post">
  <button type="submit"  class="btn btn-primary btn-block btn-large" >logout</button>
  </form>
    <script src="js/index.js"></script>
</div>
</body>
</html>
